body {
    margin: auto;
}

@font-face {
    font-family: "Font1";
    src: url('..//resources/fonts/font1.ttf');
}

.box {
    position: absolute;
}

.header { 
    background: #fff; 
    position: fixed;
    box-shadow: 0px -5px 10px #000;
    z-index: 99;
}

.headerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.section {
    height: 960;
    width: auto; 
    background-position: center center;
    background-size: cover;
    transform: translateZ(-1px);
}

.headerName {
    font-family: "Calligraffitti", "sans-serif";
    font-size: 36px;
    font-weight: 500;
    line-height: 70px;
}

.sectionName {
    font-family: "Raleway", "sans-serif";
    font-size: 108px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 100%;
    text-shadow: 0px 0px 20px #000;
}

.sectionRole {
    font-family: "Raleway", "sans-serif";
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    line-height: 100%;
    text-shadow: 1px 1px 6px #000;
}

.aboutMeTitle {
    font-family: "Font1", "sans-serif";
    font-size: 36px;
    text-align: center;
    transition: 0.5s;
    line-height: 100%;
}

.aboutMeDescription {
    font-family: "Raleway", "sans-serif";
    font-size: 22px;
    text-align: center;
    transition: 0.5s;
    line-height: 150%;
}

button {
    font-family: "Raleway", "sans-serif";
    font-size: 18px;
    transition: 0.5s;
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
}
button:hover {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    border-radius: 35px;
    cursor: pointer;
}

.certificateBox {
    overflow: hidden;
}

.certificate {
    background-position: center center;
    background-size: cover;
    -webkit-filter: grayscale(0);
 	transition:0.5s;

}
.certificate:hover { 
  	-webkit-filter: grayscale(1);
    transform:scale(1.10);
 	transition:0.5s;
}