body {
    margin: auto;
    font-family: "Raleway", "sans-serif";
    cursor:default;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@font-face {
    font-family: "Font1";
    src: url('..//resources/fonts/font1.ttf');
}

.box {
    position: absolute;
}

button {
    font-size: 18px;
    transition: 0.4s;
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
}
button:hover {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    border-radius: 35px;
    cursor: pointer;
}


/************************************************ CERTIFICATE VIEWER START */
.certificateViewer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 999;
    border: 1x solid rgb(209, 209, 209);
    position: fixed;
}
.certificateViewer .titlebar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(128, 128, 128, 0.2);
}

.certificateViewer .title{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.viewer {
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    overflow: hidden;
    background-size:100% 100%;
}
.certificateViewer button{
    color: #000;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid rgb(3, 160, 141, 0.3);
    transition: 0.1s;
}
.certificateViewer button:hover{
    color: #fff;
    background-color: #03a08d;
    border-radius: 10px;
}

.btnClose {
    background-color: transparent !important;
    border: none !important;
    font-size: 22px;
    transition: 0s;
}

.btnClose:hover {
    background-color: transparent !important;
    border-color: #ff2424;
    color: #ff2424 !important;
    transition: 0s;
}

.certificateViewer .navigator {
    border-top: 2px solid rgb(128, 128, 128, 0.2);
}

.blocker {
    z-index: 998;
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    backdrop-filter: blur(5px);
}

.hidden {
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

/************************************************ SOCIAL BUTTONS START */

.socialContainer {

}
.social {
    font-size: 40px;
    margin: 5px;
    cursor: pointer;
}

.linkedin:hover {    
    color: #0076B4;
}

.github:hover {    
    color: #fff;
}

.facebook:hover {
    color: #215595;
}

.instagram:hover {
    color: #bc1888;
}

.hackerrank:hover {
    color: #4c8300;
}

/************************************************ HEADER START */
.header { 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff; 
    position: fixed;
    box-shadow: 0px -5px 10px #000;
    z-index: 99;    
}

.headerName {
    font-family: "Calligraffitti", "sans-serif";
    font-size: 36px;
    font-weight: 500;
    line-height: 70px;
    transition: 0.3s;
}

.headerName:hover {
    cursor: pointer;
}

.headerNameActive {
    color: #03a08d;
    transition: 0.3s;
}

.headerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}
.headerItem:hover {
    color: #03a08d;
    transition: 0.2s;
}

.headerItemActive {
    border-top: 5px solid #00E3C8;
    color: #03a08d;
    transition: 0.2s;
}

/************************************************ SECTION START */
.section {
    height: 960;
    width: auto; 
    background-position: center center;
    background-size: cover;
    transform: translateZ(-1px);
}


.sectionTitle {
    font-family: "Font1", "sans-serif";
    font-size: 36px;
    text-align: center;
    transition: 0.5s;
    line-height: 100%;
}

.sectionDescription {
    font-size: 22px;
    text-align: center;
    transition: 0.5s;
    line-height: 150%;
    min-height: 10px;
}


/************************************************ INTRODUCTION SECTION START */
.introductionName {
    font-size: 108px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 100%;
    text-shadow: 0px 0px 20px #000;
    min-height: 10px;
}

.introductionRole {
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    line-height: 100%;
    text-shadow: 1px 1px 6px #000;
    min-height: 10px;
}



/************************************************ ABOUT ME SECTION START */
.aboutMeSection {
    background-color: #00E3C8;
}



/************************************************ SKILLS SECTION START */
.skillsSection {
    color: white;
    background-image: url("../resources/images/desk.jpg");
    background-attachment: fixed;
    text-align: center;
}

.skillsChart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsItem {
    text-align: center;

}

.skillsItemText {
    text-align: center;
    font-size: 15px;
}

.skillsBar {
    background-color: #00E3C8;
    transition:0.2s;
    border-radius: 5px;
}
.skillsBar:hover {
    background-color: #028a7a;
    transition:0.2s;
}



/************************************************ CERTIFICATES SECTION START */
.certificateBox {
    overflow: hidden;
    cursor: pointer;
}

.certificate {
    background-position: center center;
    background-size: cover;
 	transition:0.5s;

}
.certificate:hover {
    transform:scale(1.10);
 	transition:0.5s;
}

/************************************************ CONTACT ME SECTION START */
.contactMeSection {
    background-color: #00E3C8;
    color: black;
}

.contactKey {
    color: #028a7a;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
}

.contactValue {
    font-size: 20px;
    line-height: 30px;

    -webkit-touch-callout: text !important; /* iOS Safari */
    -webkit-user-select: text !important; /* Safari */
    -khtml-user-select: text !important; /* Konqueror HTML */
        -moz-user-select: text !important; /* Old versions of Firefox */
        -ms-user-select: text !important; /* Internet Explorer/Edge */
            user-select: text !important; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    
}


/************************************************ FOOTER SECTION START */

.footer {
}
.footerMadeBy {
    text-align: center;
    font-size: 22px;
}

.fa-heart {
    color: rgb(179, 0, 0);
}