body {
    margin: auto;
}

.box {
    position: absolute;
}

.header { 
    background: #fff; 
    position: fixed;
    z-index: 99;
}

.section {
    height: 960;
    width: auto; 
    background-position: center center;
    background-size: cover;
}

.sectionName {
    font-family: 'Ubuntu', sans-serif;
    font-size: 108;
    font-weight: 700;
    color: #fff;
}